<!-- <h1>Hello angular</h1> -->
 <div>
   <!-- <h1>Parent App Component</h1>
    <p>{{title}}</p>
    <p>{{parray}}</p>
    <p>{{pdata}}</p>

<app-header [ctitle]="title" [carray]="parray"></app-header>
<app-header (cdata)="pdata=$event"></app-header>
<p>{{child.ctitle}}</p>
<p>{{child.sendData()}}</p>
<app-header #child></app-header>
<button (click)="demo()">Click 1</button>
<button (click)="demo1()">Click 2</button>
<h1>{{pdata}}</h1>
<h1>{{pdata1}}</h1> -->
<app-header></app-header>
<button (click)="getData()">GET DATA FROM STREAM</button>
<h1>{{stream}}</h1>
<!-- <app-about></app-about> -->
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>
</div>