<!-- <div (focusout)=" ddHide()" class ="dropdown" id=" dropdown">
<div class="d-flex align-items-center" (click)="toggleDD()" id="toggle">
<div class="px-1" id="user">{{user}}</div> 
<div class="px-1">
    <i class="bi bi-person-circle x1_5"></i>
</div>
<div>
    <i class="bi bi-caret-down-fill"></i>
</div>






<li class="dropdown-item">
    <div class="d-flex justify-content-between align-items-center">
        <div>Change Grid</div>
    <div>
    <select class="float-right" (change)="changeTheme()" [(ngModel)] = "themeCode" id="changeTheme">
        <option *ngFor = let option of themeOptions; let idx="index" [value] = "idx" id="themeName">
            {{option.name}}
        </option>
    </select>
</div>
</div>
</li>
</div>
</div> -->
